@import "~bootstrap/scss/bootstrap";
// colors
$bg-primary-color: hsl(220, 39%, 22%);
$bg-secondary-color: #2B5C7D;
$neutral-color: #F4F2F3;
$cyan: #00C0CF;

// font sizes
$fs-header: 12px;
$fs-secondary-header: 8px;
$fs-text: 5px;

// font weight
$fw-900: 900; 

// font family
$font-family: "Courier New";
